In [1]:
import scipy.stats as stats

In [3]:
import pandas as pd

In [13]:
dfStore112 = pd.read_csv(r"C:\Users\Sierra\Documents\Store112.csv")

In [14]:
dfStore112.head()

   Unnamed: 0      date  store  item  sales
0           0  1/1/2013      1     1     13
1           1  1/2/2013      1     1     11
2           2  1/3/2013      1     1     14
3           3  1/4/2013      1     1     13
4           4  1/5/2013      1     1     10

In [15]:
dfStore112.item.unique()

array([1, 2], dtype=int64)

In [ ]:
#one-way anova with scipy.stats with significant difference

In [17]:
dfStore112['item'].replace({1: 'Item1', 2: 'Item2'}, inplace= True)

In [18]:
dfStore112.item.unique()

array(['Item1', 'Item2'], dtype=object)

In [19]:
dfStore112.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3652 entries, 0 to 3651
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3652 non-null   int64
 1   date        3652 non-null   object
 2   store       3652 non-null   int64
 3   item        3652 non-null   object
 4   sales       3652 non-null   int64
dtypes: int64(3), object(2)
memory usage: 142.8+ KB

In [20]:
dfStore112.drop('date', axis= 1, inplace= True)

In [21]:
dfStore112.drop('store', axis= 1, inplace= True)

In [22]:
dfStore112.describe()

         Unnamed: 0        sales
count   3652.000000  3652.000000
mean   10042.500000    36.560241
std     9146.456341    20.261572
min        0.000000     4.000000
25%      912.750000    19.000000
50%    10042.500000    31.000000
75%    19172.250000    52.000000
max    20085.000000   115.000000

In [23]:
dfStore112.head()

   Unnamed: 0   item  sales
0           0  Item1     13
1           1  Item1     11
2           2  Item1     14
3           3  Item1     13
4           4  Item1     10

In [24]:
dfStore112.tail()

      Unnamed: 0   item  sales
3647       20081  Item2     55
3648       20082  Item2     50
3649       20083  Item2     50
3650       20084  Item2     56
3651       20085  Item2     67

In [25]:
stats.f_oneway(dfStore112['sales'][dfStore112['item'] == 'Item1'],
               dfStore112['sales'][dfStore112['item'] == 'Item2'])

F_onewayResult(statistic=7427.367318333811, pvalue=0.0)

In [26]:
#one-way anova with scipy.stats without significant difference
dfStore12435 = pd.read_csv(r"C:\Users\Sierra\Documents\Store12435.csv")

In [27]:
dfStore12435.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3652 entries, 0 to 3651
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3652 non-null   int64
 1   date        3652 non-null   object
 2   store       3652 non-null   int64
 3   item        3652 non-null   int64
 4   sales       3652 non-null   int64
dtypes: int64(4), object(1)
memory usage: 142.8+ KB

In [28]:
dfStore12435['item'].replace({24: 'Item24', 35: 'Item35'}, inplace= True)

In [29]:
dfStore12435.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3652 entries, 0 to 3651
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3652 non-null   int64
 1   date        3652 non-null   object
 2   store       3652 non-null   int64
 3   item        3652 non-null   object
 4   sales       3652 non-null   int64
dtypes: int64(3), object(2)
memory usage: 142.8+ KB

In [30]:
dfStore12435.drop('date', axis= 1, inplace= True)

In [31]:
dfStore12435.drop('store', axis= 1, inplace= True)

In [32]:
dfStore12435.describe()

          Unnamed: 0        sales
count    3652.000000  3652.000000
mean   521322.500000    59.747536
std    100445.136337    16.562649
min    419980.000000    18.000000
25%    420892.750000    47.000000
50%    521322.500000    59.000000
75%    621752.250000    71.000000
max    622665.000000   121.000000

In [33]:
dfStore12435.head()

   Unnamed: 0    item  sales
0      419980  Item24     41
1      419981  Item24     25
2      419982  Item24     32
3      419983  Item24     36
4      419984  Item24     31

In [34]:
dfStore12435.tail()

      Unnamed: 0    item  sales
3647      622661  Item35     54
3648      622662  Item35     50
3649      622663  Item35     48
3650      622664  Item35     66
3651      622665  Item35     55

In [35]:
stats.f_oneway(dfStore12435['sales'][dfStore12435['item'] == 'Item24'],
               dfStore12435['sales'][dfStore12435['item'] == 'Item35'])

F_onewayResult(statistic=0.8485031359075595, pvalue=0.3570370158800793)

In [36]:
#one-way anova with stats models with significant difference
import statsmodels.api as sm

In [37]:
from statsmodels.formula.api import ols

In [38]:
ols("sales ~ item", data=dfStore112).fit()

In [39]:
ols("sales ~ C(item)", data=dfStore112).fit()

In [40]:
model112 = ols('sales ~ C(item)', data=dfStore112).fit()

In [41]:
aov_table = sm.stats.anova_lm(model112, typ=2)

In [42]:
aov_table

                sum_sq      df            F  PR(>F)
C(item)   1.004978e+06     1.0  7427.367318     0.0
Residual  4.938720e+05  3650.0          NaN     NaN

In [43]:
#one-way anova with stats models without significant difference

In [44]:
ols("sales ~ item", data=dfStore12435).fit()

In [45]:
ols("sales ~ C(item)", data=dfStore12435).fit()

In [47]:
model12435 = ols('sales ~ C(item)', data=dfStore12435).fit()

In [48]:
aov_table = sm.stats.anova_lm(model12435, typ=2)

In [49]:
aov_table

                sum_sq      df         F    PR(>F)
C(item)   2.327722e+02     1.0  0.848503  0.357037
Residual  1.001314e+06  3650.0       NaN       NaN